<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class='col-sm-8 col-xs-12 views-header'>
                    <h4>Завдання тесту: &nbsp;{{::question.question_id}}</h4>
                </div>
                <div class='col-sm-4 col-xs-12 views-header views-header-wrapper-add-btn-and-search'>
                    <button type="button" class="btn btn-danger pull-right"
                            ui-sref="admin-home.questions({currentSubjectId: answers.currentSubjectId, currentTestId: answers.currentTestId})">
                        <i class="glyphicon glyphicon-share-alt">&nbsp;Назад</i>
                    </button>
                    <button type="button" class="btn btn-success add-btn" ng-click="answers.showAddAnswerForm()" title="Додати дату тесту">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
                <table class="rwd-table subject-table table-striped">
                    <thead>
                    <tr>
                        <th>Зображення</th>
                        <th>Текст відповіді</th>
                        <th>Результат</th>
                    </tr>
                    </thead>
                    <tbody ng-if="!answers.showMessageNoEntity">
                    <tr ng-repeat="answer in answers.list">
                        <td data-th="Зображення"><img ng-src="{{answers.attachment}}" height="100" width="100" alt="Зображення"></td>
                        <td data-th="Текст відповіді">{{:: answer.answer_text}}</td>
                        <td data-th="Результат">{{::answer.true_answer}}</td>
                        <td>
                            <button type="button" ng-click="answers.deleteAnswers(answer.answer_id)" class="btn btn-danger views-remove-btn pull-right table-help-btns"
                                    title="Видалити">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                            <button type="button" class="btn btn-warning pull-right table-help-btns" title="Редагувати"
                            ><i class="glyphicon glyphicon-pencil"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div ng-if="answers.showMessageNoEntity" class="text-center">
                    <h1>Немає завдань до даного тесту!</h1>
                </div>
            </div>
        </div>
    </section>
</section>