<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class='col-sm-2 col-xs-12 views-header'><h4>Спеціальності</h4></div>
                <div class='col-sm-10 col-xs-12 views-header views-header-wrapper-add-btn-and-search'>
                    <select class="pull-right" ng-show="specialities.showSearch"  ng-model="specialities.subjectsPerPage"
                            ng-options="specialitiesPerPage for specialitiesPerPage in specialities.numberToDisplaySpecialitiesOnPage"  ng-change="specialities.pageChanged()"
                            name="specialitiesPerPage"></select>
                    <button type="button" class="btn btn-default add-btn" title="Додати спеціальність"
                            ng-click="specialities.showAddSubjectForm()"><i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                    <input class="views-header-search-inpts" ng-show="specialities.showSearch" type="text"
                           placeholder="Пошук на сторінці" ng-model="specialities.textSearch" name="search" >
                </div>
                <table class="rwd-table subject-table table-striped">
                    <thead>
                    <tr>
                        <th>Спеціальність</th>
                        <th>Код</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="speciality in specialities.list| filter: specialities.textSearch | limitTo: specialities.subjectsPerPage : specialities.begin">
                        <td data-th="Спеціальність">{{::speciality.speciality_name}}</td>
                        <td data-th="Код">{{::speciality.speciality_code}}</td>
                        <td>
                            <button type="button" class="btn btn-default pull-right table-help-btns" title="Редагувати"
                                    ng-click="specialities.showEditSpecialityForm(speciality);"><i class="glyphicon glyphicon-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-default views-remove-btn pull-right table-help-btns"  title="Видалити"
                                    ng-click="specialities.deleteSpeciality(speciality.speciality_id)"><i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div ng-if="specialities.showErrorMessage">
                    <h3>{{specialities.message}}</h3>
                </div>
                <div class="subject-pagination pull-right">
                    <uib-pagination
                            ng-show="specialities.totalSpecialities > specialities.specialitiesPerPage"
                            total-items="specialities.totalSpecialities"
                            items-per-page="specialities.specialitiesPerPage"
                            ng-model="specialities.currentPage"
                            ng-change="specialities.pageChanged()"
                            previous-text="&lsaquo;"
                            next-text="&rsaquo;">
                    </uib-pagination>
                </div>
            </div>
        </div>
    </section>
</section>