@import 'https://fonts.googleapis.com/css?family=Bad+Script|Cormorant+Infant|Marck+Script';
//urls
$url_0: url(../img/enter-bg.jpg);

* {
	padding: 0;
	margin: 0;
}
html {
	width: 100%;
	height: 100%;
}
body {
  position: relative; }
.login-wrapper{
  background: url(../img/enter-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}
.main {
	height: 100%;
	width: 100%;
	display: table;
}
.login-pass-inputs-wrapper {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	:first-child {
		margin-bottom: 20px;
	}
	input {
		display: block;
		margin: auto;
		height: 40px;
		width: 250px;
		padding-left: 10px;
		&:focus{
			box-shadow: 2px 2px 3px #fff, 1px 1px 2em #fff;
		}
	}
	.enter-submit {
		margin: auto;
		display: block;
		width: 150px;
		margin-top: 20px;
		border-radius: 20px;
		height: 35px;
		color: $white;
		background: rgba(0,0,0,0.6);
		font-weight: bold;
		border: none;
	}
	.enter-submit:hover {
		box-shadow: 0 0 10px 10px rgba(255,255, 255, 0.5), 0 0 20px 5px rgba(255, 255, 255, 0.5);
	}
}
.welcome-to-d-tester{
	font-family: 'Marck Script', cursive;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: $black;
	margin-bottom: 50px;
	text-shadow: 1px 1px 2px $white, 0 0 1em $white;
	-moz-text-shadow: 1px 1px 2px $white, 0 0 1em $white;
}
.pagination {
  cursor: pointer;
  width: auto;
}

table.subject-list {
	a {
	  cursor: pointer;
	}
  	.subject-list-centered{
	  text-align: center;
	}
}
.val.ng-invalid {
	border-color: rgba(255, 0, 0, 0.4);
}
.val.ng-valid {
	border-color: rgba(0, 204, 0, 0.6);
}