.navbar-default, .navbar-collapse, .avbar-header {
  background-color: #F6FF00; }
  .navbar-default .fa-sign-out, .navbar-collapse .fa-sign-out, .avbar-header .fa-sign-out {
    font-size: 20px; }

.navbar-nav a {
  color: black !important; }

.navbar-nav li:hover {
  background-color: #E8E52C; }

.navbar-brand {
  color: black !important; }
