.navbar-default, .navbar-collapse, .avbar-header{
  background-color: #F6FF00;
  .fa-sign-out{
    font-size: 20px;
  }
}
.navbar-nav{
  a{
      color:black!important;
  }
  li:hover{
    background-color: #E8E52C;
  }
}
.navbar-brand{
  color:black!important;
}