$breakpoint-alpha: 820px;
$white: #fff;
$black: #000;
$table-bg:#867DB0;
$colom-title:yellow;
//mixin
@mixin table-mixin {
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background: $table-bg;
  color: white;
  overflow: hidden;
  font-weight: bold;
  td:last-child{
    width: 340px;
    &:before {
      content: attr(data-th)" ";
      font-weight: bold;

      @media (min-width: $breakpoint-alpha) {
        -webkit-display: none;
      }
    }
    @media (max-width: $breakpoint-alpha) {
      margin-bottom: 15px;
      float: left;
    }
  }
  td{
    .table-help-btns{
      margin-right: 8px!important;
      @media (max-width: $breakpoint-alpha) {
        margin-left: 8px!important;
        float: left !important;
      }
    }
  }
}
.collapse.in{
  @media (max-width: 768px) {
    clear: both!important;
  }
}
.rwd-table {
  margin: 1em 0;
  min-width: 100%;
  th {
    display: none;
  }

  td {
    display: block;

    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": ";
      font-weight: bold;
      margin-right: 25px;
      width: 6.5em;
      display: inline-block;

      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }

  th, td {
    text-align: left;

    @media (min-width: $breakpoint-alpha) {
      display: table-cell;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

  }


}


body {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee!important;
  input,select{
    color:$black;
  }
}


.rwd-table{
  width:100%;
  table-layout: fixed;
  background: #34495E;
  color: #fff;
  overflow: hidden;
  th, td {
    text-align:left;
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) {
      padding: 1em !important;
    }
  }
  th, td:before {
    color: $colom-title;
  }
}
.views-header{
  height: 70px;
  background-color: #0D083B;
  padding-top: 20px;
  color: $white;
  .add-btn{
    margin-right: 7px;
    float: right;
    background-color: #4CAF50;
    border: none;
    color:$white;
  }
  .views-header-search-inpts{
    float: right;
    height: 33px;
    color: $black;
    margin-right: 30px;
    padding-left: 5px;
    @media (max-width: 768px) {
      float: left;
      width: 143px;
    }
  }
  .views-header-search-inpts-groups{
    float: left;
    height: 33px;
    color: $black;
    padding-left: 5px;
  }
  .search-groups-inpt{
    padding-left: 0;
  }
}
.views-header-input-wrapper{
  .search-groups-inpt{
    @media (max-width: 992px) {
      padding-left: 15px!important;
    }
  }
  .views-header-search-inpts-groups{
    @media (max-width: 992px) {
      margin-top: 15px;
    }
  }
  background-color: #0D083B;
  color: $white;
  padding-bottom: 15px;
  .add-btn{
    margin-right: 7px;
    float: right;
    background-color: #4CAF50;
    border: none;
    color:$white;
    @media (max-width: 992px) {
      margin-right: 15px;
    }
  }
  .views-header-search-inpts{
    float: right;
    height: 33px;
    color: $black;
    margin-right: 30px;
    padding-left: 5px;
    @media (max-width: 768px) {
      float: left;
    }
  }
  .views-header-search-inpts-groups{
    float: left;
    height: 33px;
    color: $black;
    padding-left: 5px;
  }
  .search-groups-inpt{
    padding-left: 0;
  }
}

.faculty-table{
  @include table-mixin;
}
.student-table{
  @include table-mixin;
}
.subject-table{
  @include table-mixin;
}
.header-views-select-pages-search{
  height: 32px;
  margin-right: 5px;
}
.groups-table{
  @include table-mixin;
}
.create-student-table{
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  #names{
    input{
      margin-bottom: 5px;
    }
  }
  background: $table-bg;
  color: white;
  overflow: hidden;
  font-weight: bold;
  .create-student-submit-btns-wrpr{
    button{
      float: right;
      margin-right: 5px;
      @media (max-width: $breakpoint-alpha) {
        margin-bottom: 10px;
      }
    }

  }
  td{
    &:before {
      content: attr(data-th)" ";
      font-weight: bold;

      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
    .add-photo-inp{
      width: auto;
    }
  }
}
.statistic-table{
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background: $table-bg;
  color: $white;
  overflow: hidden;
  font-weight: bold;
  td{
    &:nth-child(1){
      padding-top: 0px;
      width: 95%;
    }
    &:before {
      content: attr(data-th)" "; // who knew you could do this? The internet, that's who.
      font-weight: bold;
      width: 1px;

    }
    @media (max-width: $breakpoint-alpha) {
      width: 100% !important;
      display: block;
      float: none;
      text-align: left;
      margin-left: 0px;
    }
  }
}

.add-edit-admin-table{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: $table-bg;
  color: $white;
  overflow: hidden;
  font-weight: bold;
  td{
    &:nth-child(1){
      padding-top: 0px;
      width: 15%;
      @media (max-width: $breakpoint-alpha) {
        display: block;
        float: left;
      }
    }
    &:before {
      content: attr(data-th)" ";
      font-weight: bold;
      width: 1px;

    }
  }
}
.views-header-students-view-wrpr{
  padding-top: 0px;
  height: auto;
  .student-view-group-select{
    margin-bottom: 20px;
    width: 32%;
    @media (max-width: 470px) {
      width: 100%;
      margin-top: 10px;
    }
  }
}
.admin-views-header{
  background-color: #0f0f0f;
  h4{
    color:#fff;
  }
}

.views-remove-btn{
  display: block!important;
  margin: auto!important;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #5D5393;
  color:$white!important;
}
div.row.schedule-form {
  margin-left: 0;
}
.selct-search-group {
  margin: 5px;
}
.students-input {
  margin-bottom: 15px;
}
/************************************************
                  Modal styles
/*************************************************/
.custom-modal-header {
  text-align: center;
  background-color: #0D083B;
  color: #ddd;
  border-radius: 5px 5px 0 0;
}
.custom-modal-body {
  background-color: #867DB0;
  color: #ddd;
}
.custom-modal-footer {
  text-align: center !important;
  background-color: #0D083B;
  color: #fff;
  border-radius: 0 0 5px 5px;
}
/************************************************
               The end of Modal styles
/*************************************************/

/************************************************
                  ngMessage styles
/*************************************************/
[ng-messages] {
  color: red;
  font-size: 1em;
  display:none; }

[ng-messages].ng-active {
  opacity: 0;
  -webkit-transition: opacity .3s linear, top .3s linear, visibility 0s linear .3s;
  transition: opacity .3s linear, top .3s linear, visibility 0s linear .3s; }

[ng-messages].ng-active.show-messages {
  -webkit-transition: opacity .3s linear, top .3s linear, visibility 0s linear .3s;
  transition: opacity .3s linear, top .3s linear, visibility .3s linear; }

[ng-messages].show-messages {
  display:inline;
  opacity: 1; }

[ng-message].ng-enter.ng-enter-active {
  opacity: 1; }

[ng-message].ng-enter {
  opacity: 0; }

[ng-message].ng-leave {
  opacity: 1; }

[ng-message].ng-leave-active {
  opacity: 0; }

/************************************************
               The end of ngMessage styles
/*************************************************/



/**************************************************
               Modal simple window
**************************************************/

.modal-login {
  text-align: center;
  font-size: 2em;
}
.login-dialog-border {
  background-color: #f0f0f0;
  border-radius: 5px;
  border: 5px solid #f0f0f0;
}

.user-date-picker {
  display:inline-block;
  min-height:290px;
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: yellow;
    border-radius: 32px;
    color: black;
  }
}

.dateEvent {
  display: none;
}
.dateEventVisible {
  display: block;
}

aside.wrapForQuestions {
  width: 300px;
  height: auto;
  .allOfQuestions {
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    color: green;
    border: 1px solid gray;
  }
}