.collapse.in {
  clear: both !important; }

.rwd-table {
  margin: 1em 0;
  min-width: 100%; }
  .rwd-table th {
    display: none; }
  .rwd-table td {
    display: block; }
    .rwd-table td:first-child {
      padding-top: .5em; }
    .rwd-table td:last-child {
      padding-bottom: .5em; }
    .rwd-table td:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block; }
      @media (min-width: 501px) {
        .rwd-table td:before {
          display: none; } }
  .rwd-table th, .rwd-table td {
    text-align: left; }
    @media (min-width: 501px) {
      .rwd-table th, .rwd-table td {
        display: table-cell; }
        .rwd-table th:first-child, .rwd-table td:first-child {
          padding-left: 0; }
        .rwd-table th:last-child, .rwd-table td:last-child {
          padding-right: 0; } }

body {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee !important; }
  body input, body select {
    color: #000; }

.rwd-table {
  background: #34495E;
  color: #fff;
  overflow: hidden; }
  .rwd-table th, .rwd-table td {
    margin: .5em 1em; }
    @media (min-width: 501px) {
      .rwd-table th, .rwd-table td {
        padding: 1em !important; } }
  .rwd-table th, .rwd-table td:before {
    color: yellow; }

.views-header {
  height: 70px;
  background-color: #0D083B;
  padding-top: 20px;
  color: #fff; }
  .views-header .add-btn {
    margin-right: 7px;
    float: right;
    background-color: #4CAF50;
    border: none;
    color: #fff; }
  .views-header .views-header-search-inpts {
    float: right;
    height: 33px;
    color: #000;
    margin-right: 30px;
    padding-left: 5px; }
    @media (max-width: 768px) {
      .views-header .views-header-search-inpts {
        float: left; } }

.faculty-table {
  background: #837EB1;
  color: white;
  overflow: hidden;
  font-weight: bold; }
  .faculty-table td:nth-last-of-type(-n+2) {
    width: 42px;
    display: block;
    float: right;
    margin-right: 30px; }
    @media (max-width: 501px) {
      .faculty-table td:nth-last-of-type(-n+2) {
        float: left; } }
    .faculty-table td:nth-last-of-type(-n+2):before {
      content: attr(data-th) " ";
      font-weight: bold; }
      @media (min-width: 501px) {
        .faculty-table td:nth-last-of-type(-n+2):before {
          display: none; } }

.subject-table {
  background: #837EB1;
  color: white;
  overflow: hidden;
  font-weight: bold; }
  .subject-table td:nth-last-of-type(-n+4) {
    width: 42px;
    display: block;
    float: right;
    margin-right: 30px; }
    @media (max-width: 875px) {
      .subject-table td:nth-last-of-type(-n+4) {
        float: none; } }
    @media (max-width: 501px) {
      .subject-table td:nth-last-of-type(-n+4) {
        float: left; } }
    .subject-table td:nth-last-of-type(-n+4):before {
      content: attr(data-th) " ";
      font-weight: bold; }
      @media (min-width: 501px) {
        .subject-table td:nth-last-of-type(-n+4):before {
          display: none; } }

.statistic-table {
  background: #837EB1;
  color: #fff;
  overflow: hidden;
  font-weight: bold; }
  .statistic-table td:nth-child(1) {
    padding-top: 0px;
    width: 95%; }
    @media (max-width: 501px) {
      .statistic-table td:nth-child(1) {
        width: 80%;
        display: block;
        float: left; } }
  .statistic-table td:before {
    content: attr(data-th) " ";
    font-weight: bold;
    width: 1px; }

.add-edit-admin-table {
  background: #837EB1;
  color: #fff;
  overflow: hidden;
  font-weight: bold; }
  .add-edit-admin-table td:nth-child(1) {
    padding-top: 0px;
    width: 15%; }
    @media (max-width: 501px) {
      .add-edit-admin-table td:nth-child(1) {
        display: block;
        float: left; } }
  .add-edit-admin-table td:before {
    content: attr(data-th) " ";
    font-weight: bold;
    width: 1px; }

.admin-views-header {
  background-color: #0f0f0f; }
  .admin-views-header h4 {
    color: #fff; }

.views-remove-btn {
  display: block !important;
  margin: auto !important; }

/************************************************
                  ngMessage styles
/*************************************************/
[ng-messages] {
  color: #a94442;
  font-size: 1em;
  visibility: hidden; }

[ng-messages].ng-active {
  opacity: 0;
  -webkit-transition: opacity .3s linear, top .3s linear, visibility 0s linear .3s;
  transition: opacity .3s linear, top .3s linear, visibility 0s linear .3s; }

[ng-messages].ng-active.show-messages {
  -webkit-transition: opacity .3s linear, top .3s linear, visibility 0s linear .3s;
  transition: opacity .3s linear, top .3s linear, visibility .3s linear; }

[ng-messages].show-messages {
  visibility: visible;
  opacity: 1; }

[ng-message].ng-enter.ng-enter-active {
  opacity: 1; }

[ng-message].ng-enter {
  opacity: 0; }

[ng-message].ng-leave {
  opacity: 1; }

[ng-message].ng-leave-active {
  opacity: 0; }

/************************************************
               The end of ngMessage styles
/*************************************************/
