//enter page variables
$color_shark_approx: #29272b;
$color_straw_approx: #d6bf8c;

//layout variables
$navbar-tabs-hover:#337ab7;
$breakpoint-alpha: 820px;
$white: #fff;
$black: #000;
$table-bg:#867DB0;
$colom-title:#FFFF00;
$views-header-bg:#0D083B;
$add-btn-bg:#4CAF50;
$modal-body:#867DB0;
$zebra-table-row-bg:#5D5393;
$error-message:#FF0000;