<div    class="modal-header custom-modal-header">
    <h3 class="modal-title">Додати нову групу</h3>
</div>
<div class="modal-body custom-modal-body">
    <form class="form-horizontal" name="newGroupForm" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" for="groupName">Назва групи: </label>
            <div class="col-sm-10">
                <input type="text"
                       name="groupname"
                       class="form-control"
                       id="groupName"
                       placeholder="Напиши назву групи"
                       ng-model="groups.group.group_name"
                       ng-pattern="/^[А-ЯІЄЇ]{2}?-\d{2}?-\d{1}?$/"
                       required />
            </div>
            <div  class="clearfix">
                <div class="col-sm-10 col-sm-offset-2">
                    <novalidate-messages field="newGroupForm.groupname" pattern="Імена груп повинні бути в такому форматі АА-00-0"></novalidate-messages>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="fadescription">Факультет:</label>
            <div class="col-md-10">
                <select class="form-control"
                        ng-model="groups.group.faculty_id"
                        ng-options="facultyList.faculty_id as facultyList.faculty_name for facultyList in groups.facultyList"
                        id="fadescription" required>
                    <option disabled selected value="">Виберіть факультет </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="specdescription">Спеціальність:</label>
            <div class="col-md-10">
                <select class="form-control"
                        ng-model="groups.group.speciality_id"
                        id="specdescription"
                        ng-options="specialityList.speciality_id as specialityList.speciality_name for specialityList in groups.specialityList" required>
                    <option disabled selected value="">Виберіть спеціальність</option>
                </select>
            </div>
        </div>
    </form>
    <div class="clearfix"  ng-if="groups.duplicateGroupsMessage">
        <div class="col-sm-10 col-sm-offset-2" >
            <span class="text-danger">Група з такою назвою вже зареєстрована в системі!</span>
        </div>
    </div>

</div>
<div class="modal-footer custom-modal-footer">
    <button class="btn btn-primary" type="button" ng-click="groups.addGroup()"
            ng-disabled="newGroupForm.$invalid"> Додати групу
    </button>
    <button class="btn btn-warning" type="button" ng-click="groups.cancelForm()">Відмінити</button>
</div>