<div class="modal-header">
    <h3 class="modal-title">Редагувати факультет</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="editFacultyForm" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Назва факультету: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name"
                       required
                       placeholder="Введить назву факультету"
                       ng-pattern="/^[a-zа-яіїє\+\-'\s]+$/i"
                       ng-model="faculties.currentFaculty.faculty_name"
                       ng-minlength="3"
                       ng-maxlength="75">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="description">Опис факультету: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" name="description"
                       ng-model="faculties.currentFaculty.faculty_description">
            </div>
        </div>
    </form>
    <div class="clearfix" ng-if="faculties.duplicateFacultysMessage">
        <div class="col-sm-10 col-sm-offset-2">
            <span class="text-danger" role="alert">Факультет із такою назвою вже зареєстрований в системі!</span>
        </div>
    </div>
    <div class="clearfix" ng-if="faculties.wasNotEditMessage">
        <div class="col-sm-10 col-sm-offset-2">
            <span class="text-danger" role="alert">Не внесено жодних змін! Щоб вийти із сторінки редагування натисніть "Відмінити"</span>
        </div>
    </div>
    <div  class="clearfix">
        <div class="col-sm-10 col-sm-offset-2">
            <div my-messages="editFacultyForm.name"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="faculties.updateFaculty()"
            ng-disabled="editFacultyForm.$invalid || (editFacultyForm.name.$pristine && editFacultyForm.description.$pristine)">
        Зберегти
    </button>
    <button class="btn btn-warning" type="button" ng-click="faculties.cancelForm()">Відмінити</button>
</div>