<div class="login-wrapper">
    <section class="main">
        <section  class="login-pass-inputs-wrapper">
            <h1 class="welcome-to-d-tester">Автоматична система <br> тестування студентів</h1>
            <form  class="login" ng-submit="login.toEnter()" novalidate>
                <input type="text" class="val" placeholder="Username" name="username" ng-model="login.user.username" required />

                <input type="password" class="val" placeholder="Password" name="password" ng-model="login.user.password" required />


                <input type="submit" class="enter-submit" value="Вхід" />

            </form><!-- form -->
        </section><!-- content -->
    </section><!-- container -->
</div>