<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class= "col-xs-12 col-md-10 col-md-offset-1"  ng-if = "students.showEdit" ng-include = "'app/admin/group/student/student-edit-form.html'"></div>
            <div class= "col-xs-12 col-md-10 col-md-offset-1" ng-if = "students.showCreate" ng-include = "'app/admin/group/student/student-create-form.html'"></div>
            <div class="col-xs-12 col-md-10 col-md-offset-1" ng-if = "!students.showEdit && !students.showCreate">
                <div class='col-sm-2 col-xs-12 views-header'><h4>Студенти</h4></div>
                <div class='col-sm-10 col-xs-12 views-header views-header-wrapper-add-btn-and-search'>
                    <select class="pull-right header-views-select-pages-search" ng-show="students.showSearch"  ng-model="students.studentsPerPage"
                            ng-options="studentsPerPage for studentsPerPage in students.numberToDisplayStudentsOnPage"  ng-change="students.pageChanged()"
                            name="subjectsPerPage" title="Кількість записів на сторінці"></select>
                    <button type="button" class="btn btn-default add-btn" title="Додати студента" ng-click="students.showCreateForm()"
                    ><i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                    <input class="views-header-search-inpts" type="text" placeholder="Пошук на сторінці" ng-model="students.textSearch">
                </div>
                <table class="rwd-table faculty-table table-striped ">
                    <tr>
                        <th>Реєстр №</th>
                        <th>Група</th>
                        <th colspan="2">Прізвище і ім'я</th>
                    </tr>
                    <tr ng-repeat="student in students.list | toArray | filter: students.textSearch | limitTo: students.studentsPerPage : students.begin">
                        <td>{{::student.user_id}}</td>
                        <td>{{::students.associativeGroup[student.group_id]}}</td>
                        <td>{{::student.student_name}}&nbsp;{{::student.student_surname}}&nbsp;{{::student.student_fname}}</td>

                        <td class="text-center">
                            <button type="button" class="btn btn-danger views-remove-btn  pull-right table-help-btns" title="Видалити" ng-click="students.remove(student.user_id)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                            <button type="button" class="btn btn-warning   pull-right table-help-btns" title="Редагувати" ng-click="students.showEditForm(student)">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-info pull-right table-help-btns" title="Результати" ng-click="students.showResultForm(student)">
                                <i class="glyphicon glyphicon-registration-mark"></i>
                            </button>
                        </td>
                    </tr>
                </table>
                <div class="subject-pagination pull-right">
                    <uib-pagination
                            ng-show="students.totalStudents > students.studentsPerPage"
                            total-items="students.totalStudents"
                            items-per-page="students.studentsPerPage"
                            ng-model="students.currentPage"
                            ng-change="students.pageChanged()"
                            previous-text="&lsaquo;"
                            next-text="&rsaquo;">
                    </uib-pagination>
                </div>
            </div>
        </div>
    </section>
</section>