<section ui-view="content" class="col-xs-12">
    <!--BEGIN SPINNER-->
    <div id="loaderSpin" spinner class="hidden">
        <img src="img/spinner_blue.gif" class="loader" alt="Завантаження..."/>
    </div>
    <!--END SPINNER-->
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class='col-xs-12 views-header'><h4>Налаштування системи</h4></div>
        <table class="rwd-table table-striped">
            <tr>
                <td collspan="2">Максимальна кількість студентів для показу вкладки 'Студенти' </td>
                <td>
                    <input type="text" class="form-control" name="numberOfStudents"
                            ng-model="config.maxNumberOfStudents">
                </td>
                <td>
                    <button class="btn btn-warning pull-right" ng-click="config.set('NumberOfStudents')">Встановити</button>
                </td>
            <tr>
            <tr>
                <td collspan="2">Кількість записів на сторінці по замовчуванню </td>
                <td>
                    <input type="text" class="form-control" name="numberOfEntities"
                           ng-model="config.numberOfEntities">
                </td>
                <td>
                    <button class="btn btn-warning pull-right" ng-click="config.set('NumberOfEntities')">Встановити</button>
                </td>
            <tr>
            <tr>
                <td collspan="2">Кількість рівнів питань в тестах</td>
                <td>
                    <input type="text" class="form-control" name="numberOfLevels"
                           ng-model="config.numberOfLevels">
                </td>
                <td>
                    <button class="btn btn-warning pull-right" ng-click="config.set('NumberOfTestLevels')">Встановити</button>
                </td>
            <tr>
        </table>
    </div>
</section>
