<span ng-messages="field.$error" ng-class="{'show-messages': field.$invalid && field.$touched}">
    <span ng-message="required">Введіть дані!</span>
    <span ng-message="maxlength">Дозволена кількість символів: від {{minlength}} до {{maxlength}}!</span>
    <span ng-message="minlength">Дозволена кількість символів: від {{minlength}} до {{maxlength}}!</span>
    <span ng-message="min">Дозволенo значення: від {{min}} до {{max}}!</span>
    <span ng-message="max">Дозволенo значення: від {{min}} до {{max}}!</span>
    <span ng-message="email">Некоректні дані!</span>
    <span ng-message="time">Некоректні дані!</span>
    <span ng-message="pattern"> {{pattern}} </span>
</span>