<div class="modal-header">
    <h3 class="modal-title">Додати новий запис до розкладу тестів</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="newScheduleForm" role="form">
        <div class="form-group">
            <label class="control-label col-sm-4" for="schedule">Група: </label>
            <div class="col-sm-8">
                <select class="form-control" name="schedule" id="schedule" ng-model="schedules.schedule.group_id"
                        ng-options="groupList.group_id as groupList.group_name for groupList in schedules.groupList"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="event_date">Дата проведення тесту: </label>
            <p class="input-group col-sm-8">
                <input type="text" class="form-control" id="event_date"
                       placeholder="Оберіть дату проведення тесту"
                       uib-datepicker-popup="dd MMMM yyyy"
                       ng-model="schedules.schedule.event_date"
                       is-open="schedules.DatePickerOpened"
                       datepicker-options="schedules.dateOptions"
                       ng-required="true"
                       close-text="Закрити"
                       current-text="Cьогодні"
                       clear-text="Очистити"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="schedules.openDatePicker()">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
            </p>
        </div>
    </form>
    <div class="clearfix" ng-if="schedules.alreadyExistInSchedule">
        <div class="col-sm-8 col-sm-offset-4">
            <span class="text-danger" role="alert">Для даної групи вже призначено дату проведення тесту по даному предмету</span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="schedules.addSchedule()"
            ng-disabled="newScheduleForm.$invalid"> Додати
    </button>
    <button class="btn btn-warning" type="button" ng-click="schedules.cancelForm()">Відмінити</button>
</div>
