<div class="modal-header custom-modal-header">
    <h3 class="modal-title">Редагувати предмет</h3>
</div>
<div class="modal-body custom-modal-body">
    <form class="form-horizontal" name="editSubjectForm" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Назва предмету: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name"
                       required
                       placeholder="Напиши назву предмету"
                       ng-pattern="/^[a-zа-яіїє\-\'\s]+$/i"
                       ng-model="subjects.currentSubject.subject_name"
                       ng-minlength="3"
                       ng-maxlength="50">
                <novalidate-messages field="editSubjectForm.name" maxlength="50"></novalidate-messages>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="description">Опис предмету: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" name="description"
                       required
                       ng-model="subjects.currentSubject.subject_description"
                       ng-minlength="3"
                       ng-maxlength="100">
                <novalidate-messages field="editSubjectForm.description"></novalidate-messages>
            </div>
        </div>
    </form>
    <div class="clearfix" ng-if="subjects.duplicateSubjectsMessage">
        <div class="col-sm-10 col-sm-offset-2">
            <span class="text-danger" role="alert">Предмет із такою назвою вже зареєстрований в системі!</span>
        </div>
    </div>
    <div class="clearfix" ng-if="subjects.wasNotEditSubjectMessage">
        <div class="col-sm-10 col-sm-offset-2">
            <span class="text-danger" role="alert">Не внесено жодних змін! Щоб вийти із сторінки редагування натисніть "Відмінити"</span>
        </div>
    </div>
</div>
<div class="modal-footer custom-modal-footer">
    <button class="btn btn-primary" type="button" ng-click="subjects.updateSubject()"
            ng-disabled="editSubjectForm.$invalid || (editSubjectForm.name.$pristine && editSubjectForm.description.$pristine)">
        Зберегти
    </button>
    <button class="btn btn-warning" type="button" ng-click="subjects.cancelForm()">Відмінити</button>
</div>