<div class="modal-header">
    <h3 class="modal-title">Редагувати предмет</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="editSubjectForm" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Назва предмету: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name"
                      ng-model="subjects.currentSubject.subject_name">
            </div>
            <div ng-if="subjects.duplicateMessage">
                <hr/><span class="bg-danger">Предмет з такою назвою вже зареєстрований в системі!</span>
            </div>
            <div ng-if="subjects.incorrectMessage">
                <hr/><span class="bg-danger">Назва предмету повинна містити тільки букви кирилицею або латиницею!</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="description">Опис предмету: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="description"
                       ng-model="subjects.currentSubject.subject_description">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="subjects.updateSubject()"
            ng-disabled="editSubjectForm.$invalid || (editSubjectForm.name.$pristine && editSubjectForm.description.$pristine)"> Редагувати предмет
    </button>
    <button class="btn btn-warning" type="button" ng-click="subjects.cancelForm()">Відмінити</button>
</div>