<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class='col-sm-2 col-xs-12 views-header'><h4>Предмети</h4></div>
                <div class='col-sm-10 col-xs-12 views-header views-header-wrapper-add-btn-and-search'>
                    <select class="pull-right header-views-select-pages-search" ng-show="subjects.showSearch"  ng-model="subjects.subjectsPerPage"
                            ng-options="subjectPerPage for subjectPerPage in subjects.numberToDisplaySubjectsOnPage"  ng-change="subjects.pageChanged()"
                            name="subjectsPerPage" title="Кількість записів на сторінці"></select>
                    <button type="button" class="btn btn-default add-btn" title="Додати предмет"
                       ng-click="subjects.showAddSubjectForm()"><i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                    <input class="views-header-search-inpts" ng-show="subjects.showSearch" type="text"
                           placeholder="Пошук" ng-model="subjects.textSearch" name="search" >
                </div>
                <table class="rwd-table subject-table table-striped">
                    <thead>
                        <tr>
                            <th>Предмет</th>
                            <th>Опис предмету</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="subject in subjects.list | toArray | filter: subjects.textSearch | limitTo: subjects.subjectsPerPage : subjects.begin">
                            <td data-th="Предмет">{{::subject.subject_name}}</td>
                            <td data-th="Опис предмету">{{::subject.subject_description}}</td>
                            <td>
                                <button type="button" class="btn btn-danger views-remove-btn pull-right table-help-btns"  title="Видалити"
                                        ng-click="subjects.deleteSubject(subject.subject_id)"><i class="glyphicon glyphicon-trash"></i>
                                </button>
                                <button type="button" class="btn btn-warning pull-right table-help-btns" title="Редагувати"
                                    ng-click="subjects.showEditSubjectForm(subject);"><i class="glyphicon glyphicon-pencil"></i>
                                </button>
                                <button type="button" class="btn btn-info pull-right table-help-btns" title="Розклад"
                                        ui-sref="admin-home.schedule({currentSubjectId: subject.subject_id})">
                                        <i class="fa fa-calendar" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-primary pull-right table-help-btns" title="Тести"
                                        ui-sref="admin-home.test({currentSubjectId: subject.subject_id})">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-if="subjects.showErrorMessage">
                    <h3>{{subjects.message}}</h3>
                </div>
                <div class="subject-pagination pull-right">
                    <uib-pagination
                            ng-show="subjects.totalSubjects > subjects.subjectsPerPage"
                            total-items="subjects.totalSubjects"
                            items-per-page="subjects.subjectsPerPage"
                            ng-model="subjects.currentPage"
                            ng-change="subjects.pageChanged()"
                            previous-text="&lsaquo;"
                            next-text="&rsaquo;">
                    </uib-pagination>
                </div>
            </div>
        </div>
    </section>
</section>