<div class="login-dialog-border">  <!--Border modal window-->
    <div class="modal-body custom-modal-body" ng-cloak>  <!--Header modal window-->
        <h3 class="confirmation-title"><i class="fa fa-exclamation-triangle orange"></i>
            Ви підтверджуєте видалення?
        </h3>
    </div>
    <div class="modal-footer custom-modal-footer">    <!--Footer modal window-->
        <button type="button" class="btn btn-primary pull-right" ng-click="modal.confirmForm()">Гаразд</button>
        <button type="button" class="btn btn-primary pull-right btn-conf" ng-click="modal.closeForm()">Відміна</button>
    </div>
</div>