<!-- container section start -->
<section id="container" class="">
    <header>
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" add-class-in class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand"><img src="img/dt-brand.png"></span>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
                <ul class="nav navbar-nav">
                    <li ng-click="navCollapsed = true" ><a ui-sref="user">Профіль</a></li>
                    <li ng-click="navCollapsed = true"><a ui-sref="user.tests({groupId: user.user.group_id})">Тести</a></li>
                    <li ng-click="navCollapsed = true"><a>Результати</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a  ui-sref="login"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </header>
    </div>
    </aside>
    <section ui-view="content" class="col-xs-12">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class='col-xs-12 col-md-10 views-header'>
                <h4>{{user.user.student_surname}}&nbsp;{{user.user.student_name}}&nbsp;{{user.user.student_fname}}
                    <br>Ласкаво просимо!</h4>
            </div>
            <div class="col-xs-12 col-md-3">
                <img ng-src="{{user.user.photo}}" id="studentImage" height="250" width="250"
                alt="Зображення">
            </div>
            <div class="col-xs-12 col-md-3">
                <p>Група:&nbsp;{{user.group_name}}</p>
                <p>№ залікової книжки:&nbsp;{{user.user.gradebook_id}}</p>
                <div  class="dateEvent col-xs-12  pull-right" ng-class="{'dateEventVisible': user.isEvent(user.dateEvent)}">
                    <h5>Деталі тесту:</h5>
                    <p>Предмет: <span class="text-primary" ng-bind="user.subject_name"></span></p>
                    <p>Дата проведення: <span class="text-primary">{{user.event | date: "dd MMMM yyyy"}}</span></p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4" ng-if="user.calendarLoad">
                <div class="user-date-picker">
                    <div uib-datepicker
                         ng-model="user.dateEvent"
                         class="well well-sm"
                         datepicker-options="user.dateOptions">
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
