<section id="main-content">
    <section class="wrapper">
        <div class="row">

            <div class="question-view">
                <span class="test-sign">Питання:</span>
                <div class="question-image">{{player.currentQuestion.attachment}}</div>
                <div class="question-text">{{player.currentQuestion.question_text}}</div>
            </div>
            <div class="answer-view">
                <span class="test-sign">Ваша відповідь:</span>

                <div ng-repeat="answer in player.currentAnswerArray" class="multi-answer">
                    <input ng-if="player.typeOfQuestion == 2" type="checkbox">
                    <input ng-if="player.typeOfQuestion == 1" type="radio" name="checked-answer" value="{{answer.answer_id}}">
                    <p>{{answer.answer_text}}</p>

                </div>

            </div>
            <button class="submit-answer btn btn-info">Наступне питання</button>
        </div>
    </section>
</section>


