<section id="main-content">
    <section class="wrapper">
        <div class="row">

            <div class="question-view">
                <span class="test-sign">Питання:</span>
                <div class="question-image">{{player.currentQuestion.attachment}}</div>
                <div class="question-text">{{player.currentQuestion.question_text}}</div>
            </div>
            <div class="answer-view">
                <span class="test-sign">Ваша відповідь:</span>

                <div ng-repeat="answer in player.currentAnswerArray" class="multi-answer">
                    <input ng-if="player.typeOfQuestion == 2"
                           type="checkbox"
                           name="$index"
                    ng-checked="player.checkedAnswers.indexOf(answer.answer_id) > -1"
                    ng-click="player.toggleSelection(answer.answer_id)">
                    <input ng-if="player.typeOfQuestion == 1"
                           type="radio" name="checked-answer"
                           value="{{answer.answer_id}}"
                            ng-model="player.checkedAnswers[0]">
                    <p>{{answer.answer_text}}</p>

                </div>

            </div>
            <button class="submit-answer btn btn-info" ng-click="player.chooseQuestion(+player.currentQuestion_index + 1)">Наступне питання</button>
        </div>
    </section>
</section>


