<!--

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class='col-sm-8 col-xs-12 views-header'>
                    <h4>Тест: &nbsp;{{::questions.currentTest.test_name}}</h4>
                </div>
                <div class='col-sm-4 col-xs-12 views-header views-header-wrapper-add-btn-and-search'>
                    <button type="button" class="btn btn-danger pull-right"
                            ui-sref="user({groupId: player.groupId, currentTestId: player.test_id})">
                        <i class="glyphicon glyphicon-share-alt">&nbsp;Завершити тест</i>
                    </button>
                </div>
                <aside class="wrapForQuestions col-md-5">
                    <button class="allOfQuestions " ui-sref="test.question({currentQuestionId: question.question_id})"
                            ng-repeat="question in player.listOfQuestions">{{::question.index}}
                    </button>
                    <div class="col-md-7">
                        <h1>Запитання:</h1>
                        <div ui-view="question">

                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</section>
-->

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1 test-payer-header">
                <div class='col-sm-8 col-xs-12 views-header '>
                    <h4>Тест:&nbsp{{::player.currentTest.test_name}}&nbspПредмет:&nbsp{{::player.currentTest.subject_name}}</h4>
                </div>
                <div class='col-sm-4 col-xs-12 views-header views-header-wrapper-add-btn-and-search'>
                    <button type="button" class="btn btn-danger pull-right"
                            ui-sref="user.tests({groupId: player.groupId, currentTestId: player.test_id})">
                        <i class="glyphicon glyphicon-share-alt">&nbsp;Завершити тест</i>
                    </button>
                </div>

                <div class="test-player-container">

                    <div class="main-test-box">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 timer-and-questionNum-box">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 questionNum-box">
                                <span class="questionNum-sign">Завдання {{::question.index}} із {{player.currentTest.tasks}}</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 timer-box">
                                <span class="timeleft-sign">Залишилось часу:</span>
                                <div class="timer bg-info">{{player.timerValue | date: 'HH:mm:ss' : '+0000'}}</div>
                            </div>
                        </div>


                        <div class="col-sm-12 col-xs-12 player-wrap">

                            <div class="col-sm-3 col-xs-12 wrapForQuestions">
                                <div ng-click="player.chooseQuestion(question.question_id, question.index)"
                                     class="allOfQuestions bg-info" ng-repeat="question in player.listOfQuestionsId">
                                    <button>{{$index+1}}</button>
                                </div>
                            </div>

                            <div ui-view="question" class="col-sm-8 col-xs-12 questions-box bg-info"></div>

                        </div>

                        <button class="btn btn-info end-test-btn disabled">Надіслати відповіді</button>

                    </div>
                </div>

            </div>
        </div>
    </section>
</section>
