<div class="modal-header">
    <h3 class="modal-title">Редагувати параметри для тесту: {{::testDetails.currentTestDetailsName}}</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="editTestDetailsForm" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" for="level">Рівень </label>
            <div class="col-sm-10">
                <select class="form-control input-form" id="level" name="level" ng-model="testDetails.currentTestDetails.level" required>
                    <option disabled selected value="">Оберіть рівень завдання</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="tasks">Кількiсть завдань: </label>
            <div class="col-sm-10">
                <input class="form-control" type="number" id="tasks" name="tasks" ng-model="testDetails.currentTestDetails.tasks"
                       string-to-number
                       placeholder="доступна кількість завдань: &nbsp;{{testDetails.availableAmountOfTaskForCurrentTest + testDetails.amountOfTasksOfCurrentTest }}"
                       required
                       min="1"
                       max="{{testDetails.availableAmountOfTaskForCurrentTest + testDetails.amountOfTasksOfCurrentTest}}">
                <novalidate-messages field="editTestDetailsForm.tasks" min="1" max="{{testDetails.availableAmountOfTaskForCurrentTest + testDetails.amountOfTasksOfCurrentTest}}"></novalidate-messages>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="rate">Ціна завдання: </label>
            <div class="col-sm-10">
                <input class="form-control" type="number" id="rate"  name="rate" ng-model="testDetails.currentTestDetails.rate"
                       string-to-number
                       placeholder="кількість балів за одне завдання"
                       required
                       min="1"
                       max="50">
                <novalidate-messages field="editTestDetailsForm.rate" min="1" max="50"></novalidate-messages>
            </div>
        </div>
    </form>
    <div class="clearfix" ng-if="testDetails.duplicateTestLevelMessage">
        <div class="col-sm-10 col-sm-offset-2" >
            <span class="text-danger">Завдання обраного рівня вже додано!</span>
        </div>
    </div>
    <div class="text-danger" role="alert" ng-if="testDetails.wasNotEditTestMessage">
        <p>Не внесено жодних змін! Щоб вийти зі сторінки редагування натисніть "Відмінити"</p>
    </div>
</div>
<div class="modal-footer custom-modal-footer">
    <button class="btn btn-primary" type="button" ng-click="testDetails.updateTestDetails()"
            ng-disabled="editTestDetailsForm.$invalid"> Додати предмет
    </button>
    <button class="btn btn-warning" type="button" ng-click="testDetails.cancelForm()">Відмінити</button>
</div>
