<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class='col-sm-4 col-xs-12 views-header'><h4>Тести предмету: &nbsp;{{tests.currentSubjectName}}</h4></div>
                <div class='col-sm-8 col-xs-12 views-header views-header-wrapper-add-btn-and-search'>
                    <button type="button" class="btn btn-danger pull-right" ui-sref="admin-home.subject">
                        <i class="glyphicon glyphicon-share-alt">&nbsp;Назад</i>
                    </button>
                    <button type="button" class="btn btn-success add-btn" title="Додати тест"
                            ng-click="tests.showAddTestForm()"><i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
                <table class="rwd-table subject-table table-striped">
                    <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Назва тесту</th>
                        <th>К-сть завдань</th>
                        <th>Тривалість тесту</th>
                        <th>Статус</th>
                    </tr>
                    </thead>
                    <tbody ng-if="!tests.showMessageNoEntity">
                    <tr ng-repeat="test in tests.list">
                        <td data-th="Номер">{{$index + 1}}</td>
                        <td data-th="Тест">{{::test.test_name}}</td>
                        <td data-th="К-сть завдань">{{::test.tasks}}</td>
                        <td data-th="Час проходження тесту">{{::test.time_for_test}}</td>
                        <td data-th="Статус">{{::test.enabled}}</td>
                        <td>
                            <button  type="button" class="btn btn-danger pull-right table-help-btns" title="Видалити"
                                     ng-click="tests.deleteTest(test.test_id)"><i class="glyphicon glyphicon-trash"></i>
                            </button>
                            <button  type="button" class="btn btn-warning subject-list-centered pull-right table-help-btns"
                                     title="Редагувати" ng-click='tests.showEditTestForm(test)'>
                                     <i class="glyphicon glyphicon-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-primary pull-right table-help-btns" title="Завдання"
                                    ui-sref="admin-home.questions({currentSubjectId: test.subject_id, currentTestId: test.test_id})">
                                     <i class="glyphicon glyphicon-list-alt"></i>
                            </button>
                            <button  type="button" class="btn btn-info pull-right table-help-btns" title="Деталі"
                                     ui-sref="admin-home.testDetails({currentSubjectId: test.subject_id, currentTestId: test.test_id})">
                                     <i class="glyphicon glyphicon-info-sign"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div ng-if="tests.showMessageNoEntity" class="text-center">
                    <h1>Немає тестів для даного предмету!</h1>
                </div>
            </div>
        </div>
    </section>
</section>